beautifulsoup4==4.11.1
blessings==1.7
bpython==0.21
certifi==2022.12.7
chardet==4.0.0
curtsies==0.3.5
cwcwidth==0.1.4
greenlet==1.1.0
idna==2.10
lxml==4.9.1
plumbum==1.7.0
ply==3.11
Pygments==2.9.0
pyxdg==0.27
requests==2.25.1
six==1.16.0
soupsieve==2.2.1
Unidecode==1.2.0
urllib3==1.26.5
